anyio==3.3.4
ariadne==0.13.0
asgiref==3.4.1
build==0.7.0
click==8.0.3
Flask==2.0.2
graphql-core==3.1.6
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mysqlclient==2.0.3
packaging==21.2
pep517==0.12.0
protobuf==3.17.3
pyparsing==2.4.7
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.27
starlette==0.17.0
tomli==1.2.2
typing_extensions==4.0.0
Werkzeug==2.0.2
